@charset "utf-8";

#sdgs-export-table th {
    padding-right: 20px;
}

#sdgs-export-table label {
    padding-left: 20px;
}

#sdgs-export-table .submit {
    text-align: center;
}

#start_date,
#end_date {
    background: white;
}

#clear {
    margin-right: 15px;
}